/* accounts.component.css */


#wrapper{
    color : rgba(246, 237, 237, 0.892);
    font-family: 'Courier New', Courier, monospace;
}

.account-cards {
    display: flex;
    justify-content: space-around;
    width: 60%;
    min-width: 50%;
    margin: 25px auto;
    flex-wrap: wrap;
}


.mat-card {
    width: 300px !important;
    margin: 10px !important;
    -webkit-box-shadow: -18px 9px 31.5px -5.5px #bababa;
-moz-box-shadow: -18px 9px 31.5px -5.5px #bababa;
box-shadow: -18px 9px 31.5px -5.5px #bababa;
}

.negative-balance {
    background: rgba(179, 0, 0, 0.323);
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 255, 255, 0.303);
    width: 300px !important;
    margin: 10px !important;
}

.positive-balance {
    background-color: rgba(0, 128, 0, 0.249);
    width: 300px !important;
    -webkit-backdrop-filter: blur(19px);
    border: 1px solid rgb(255 255 255 / 60%);
    margin: 10px !important;
}  
#chart{
   margin-top: 70px;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;
    display: flex;
    overflow: hidden;
}
#accountChart{ 
    width: 550px !important;
    height: 550px !important;
    background: rgb(255 255 255 / 35%);
    -webkit-backdrop-filter: blur(37px);
    backdrop-filter: blur(37px);
    border: 1px solid rgb(255 255 255 / 78%);
    border-radius: 10px;
}
#incomeExpenseChart{ 
    width: 550px !important;
    height: 550px !important;
    background: rgb(255 255 255 / 35%);
    -webkit-backdrop-filter: blur(37px);
    backdrop-filter: blur(37px);
    border: 1px solid rgb(255 255 255 / 78%);
    border-radius: 10px;
}


