/* accounts.component.css */
.account-cards {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 13px auto;
    flex-wrap: wrap;
}

.mat-card {
    width: 300px !important;
    margin: 10px !important;
}

.negative-balance {
    background-color: rgba(255, 0, 0, 0.39);
    width: 300px !important;
    margin: 10px !important;
}

.positive-balance {
    background-color: rgba(0, 128, 0, 0.473);
    width: 300px !important;
    margin: 10px !important;
}
#chart{
   margin-top: 70px;
    align-items: center;
    justify-content: space-evenly;
    gap: 190px;
    display: flex;
    overflow: hidden;
}
#accountChart{ 
      width: 450px !important;
      height: 450px !important;
}
#incomeExpenseChart{
    width: 450px !important;
height:  450px !important;
}
#overviews{
    display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 70px;
   padding: 20px;
   border: 2px solid rgba(34, 36, 34, 0.301);
}
