<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()" class="login-container">
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryName">
            <mat-option *ngFor="let category of categories" [value]="category.name">
                {{ category.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Budget Limit</mat-label>
        <input matInput type="number" formControlName="limit">
        <mat-error *ngIf="budgetForm.get('limit')?.hasError('required')">
            Budget limit is required
        </mat-error>
        <mat-error *ngIf="budgetForm.get('limit')?.hasError('min')">
            Budget limit must be greater than 0
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!budgetForm.valid">Submit</button>
</form>