<!-- src/app/budget/budget.component.html -->
<div class="budgets">

    <div class="top">
        <button mat-raised-button (click)="AddnewBudgetModal()">Add New budget</button>
    </div>
    <table mat-table [dataSource]="budgets" class="full-width-table" matSort>
        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
            <td mat-cell *matCellDef="let budget"> {{budget.category.name}} </td>
        </ng-container>
        <ng-container matColumnDef="categoryType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Type </th>
            <td mat-cell *matCellDef="let budget"> {{budget.category.type}} </td>
        </ng-container>

        <ng-container matColumnDef="limit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Limit </th>
            <td mat-cell *matCellDef="let budget"> {{budget.limit}} </td>
        </ng-container>

        <ng-container matColumnDef="remainingLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Limit </th>
            <td mat-cell *matCellDef="let budget"> {{budget.remaininglimit}} </td>
        </ng-container>

        <ng-container matColumnDef="spent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Spent </th>
            <td mat-cell *matCellDef="let budget"> {{budget.spent}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let budget">
                <button mat-raised-button color="primary" (click)="openEditBudget(budget)">Edit</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let budget">
                <button mat-raised-button color="primary" (click)="deleteBudget(budget.category.name)">delete</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
<ng-toast [style]="{width:'300px'}"></ng-toast>