<div class="login-container" #myForm="ngForm" [formGroup]="userform" (ngSubmit)="onsubmit()">
    <form class="login-form">
        <p>Please Sign up to your account</p>
        <div class="input-group">
            <input type="text" id="username" name="username" formControlName="username" placeholder="ENTER YOUR USERNAME"
                required>
        </div>
        <div class="input-group">
            <input type="email" id="email" name="email" formControlName="email" placeholder="ENTER YOUR MAIL" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" formControlName="password"
                placeholder="ENTER YOUR PASSWORD" required>
        </div>
        <button type="submit" [disabled]="!myForm.valid">SIGN UP</button>
        <div class="bottom-text">
            <p>already have an account? <a routerLink="login">login in</a></p>
            <div *ngIf="error">{{ error }}</div>
        </div>
    </form>
</div>
<ng-toast [style]="{width:'300px'}"></ng-toast>