<div id="nav">
    <div id="nav-part1">
        <a routerLink="">
            <h4>home </h4>
        </a>
         <a routerLink="/category">

            <h4>Categories </h4>
        </a>
        <a routerLink="/transactions">

            <h4> transactions </h4>
        </a>
        <a routerLink="/budgets">

            <h4> Budgets </h4>
        </a>
    </div>
    <img src="/sTest/src/favicon.ico" alt="">
    <div id="nav-part2">


        <a *ngIf="!isLoggedIn()" routerLink="login">
            <button>log in</button>
        </a>
        <a *ngIf="!isLoggedIn()" routerLink="signup">
            <button>sign up</button>
        </a>
        <button *ngIf="isLoggedIn()" (click)="logOut()">log out</button>
    </div>
</div>